# Ignore all files without an extension in /tests, since these are the
# executables.
/tests/*
!/tests/*.*

*~
*.o
*.in
*.lo
*.log

.deps
.libs
Makefile

aclocal.m4
autom4te.cache
/build-aux
config.h
config.status
configure
INSTALL
libtool
stamp-h1
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/doc/algorithms.aux
/doc/algorithms.bbl
/doc/algorithms.blg
/doc/algorithms.out
/doc/algorithms.pdf
/doc/algorithms.toc
/doc/mdate-sh
/doc/mpc.info
/doc/stamp-vti
/doc/texinfo.tex
/doc/mpc.dvi
/doc/mpc.pdf
/doc/mpc.ps
/doc/mpc.t2d/
/doc/mpc.t2p/

/src/libmpc.la

/tests/libmpc-tests.la
/tests/*.trs

/tools/bench/mpcbench

add_test_lib.tlog
/build.vc/dll_tests/add_test_lib/x64/Release/*.obj
/build.vc/dll_tests/add_test_lib/*.user
/build.vc/dll_tests/x64
/build.vc/dll_tests/tacos/x64/Release/tacos.tlog/*.lastbuildstate
/build.vc/dll_tests/tacos/x64/Release/tacos.tlog/*.tlog
/build.vc/dll_tests/tacos/x64/Release/*.recipe
/build.vc/dll_tests/tacos/x64/Release/*.iobj
/build.vc/dll_tests/tacos/x64/Release/*.ipdb
/build.vc/dll_tests/tacos/x64/Release/*.log
/build.vc/dll_tests/tacos/x64/Release/*.obj
/build.vc/dll_tests/tacos/x64/Release/*.pdb
/build.vc/.vs
/build.vc/dll_tests/tabs/x64/Release/*.recipe
/build.vc/dll_tests/add_test_lib/x64/Release/*.recipe
/build.vc/dll_tests/tabs/x64/Release/*.iobj
/build.vc/dll_tests/tabs/x64/Release/*.ipdb
/build.vc/dll_tests/tabs/x64/Release/tabs.tlog/*.tlog
/build.vc/dll_tests/tabs/x64/Release/tabs.tlog/*.lastbuildstate
/build.vc/dll_tests/tabs/x64/Release/*.obj
/build.vc/dll_tests/tabs/x64/Release/*.pdb
*.recipe
*.iobj
*.ipdb
*.obj
*.tlog
*.pdb
*.user
*.exe
*.lib
